extends layout

block content
	#controls
		#mines-remaining.control-wrap
			.label Mines
			#mine-count 1
		#time-lapsed.control-wrap
			.label Time
			#time-count 0
		#restart > Restart
	#wrapper
		-
			var rows = inputRow || 12, columns = inputColumn || 12
		#game-board(data-row = rows data-column = columns)
			- for (var r = 0; r < rows; r++)
				// .rows
				- for (var c = 0; c < columns; c++)
					.tile(data-row=r data-column=c)
						.neighbour-mine-count
						i.icon-placeholder.fa
				.new-row-clear
block scripts
	script(src='/js/mine.js')