doctype html
html
	head
			title= title
			//css
			//link(rel='stylesheet', href="/css/reset.css")
			
			link(rel='stylesheet', href="/css/style.css")
			link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

	body
			block content
			block footer
			block scripts